@model WebApplication1.Models.ViewTournamentModel
@{
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<div>Jau užsiregistravo @Model.NumberOfUsers dalyvių</div>
<button type="button" onclick="location.href='@Url.Action("RegisterNewCompetotor", "Game")'">Registruotis</button>
<div class="progress" style="width:20%">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@Model.PartOfRequiredUsers"
         aria-valuemin="0" aria-valuemax="100" style="width:@Model.PartOfRequiredUsers%">
        @Model.PartOfRequiredUsers %
    </div>
</div>

@if (ViewBag.Error != null)
{
    <div class="alert-danger">@ViewBag.Error</div>
}