@model IEnumerable<WebApplication1.Models.MessageViewModel>
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<table class="invisibleTableBorders">
    <tr>
        <th>Laikas</th>
        <th>Tekstas</th>
        <th>Pinigai</th>
        <th>Salinti</th>
    </tr>

    @foreach (var message in Model)
    {
        <tr>
            <td>@message.date</td>
            <td>@message.text</td>
            @if (message.money < 0)
            {
                <td><div class="text-danger">@message.money</div></td>
            }
            else if (message.money > 0)
            {
                <td><div class="text-success">@message.money</div></td>
            }
            else
            {
                <td><div class="text-info">message.money</div></td>
            }
            <td>
                <form action="/Game/DeleteSelectedMessage" method="post">
                    <input readonly type="text" class="hidden" value="@message.ID" name="messageId" />
                    <button type="submit" class="btn-default">Trinti</button>
                </form>
            </td>
        </tr>
    }
</table>
<form action="/Game/DeleteAllMessages" method="post">
    <button type="submit" class="btn-danger">Trinti viska</button>
</form>

