@model IEnumerable<WebApplication1.Models.RankingModel>
@{
    ViewBag.Title = "Ranking";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<h2>Žaidėjų reitingai</h2>
<table class="invisibleTableBorders">
    <tr>
        <th>Reitingas</th>
        <th>Vardas</th>
        <th>Pergalės</th>
        <th>Pralaimėjimai</th>
        <th>Viso rungtynės</th>
        <th>Komandos vertė</th>
    </tr>
    @foreach (var player in Model)
    {
        <tr>
            <td>@player.Rank</td>
            <td>@player.Name</td>
            <td>@player.Win</td>
            <td>@player.Lose</td>
            <td>@player.AllGames()</td>
            <td>@player.Value</td>
        </tr>
    }

</table>
