@model WebApplication1.Models.PagedViewModel
@{
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}
@if (ViewBag.Error != null)
{
    <div class="alert-danger">@ViewBag.Error</div>
}
else if (ViewBag.SuccessMessage != null)
{
    <div class="alert-success">@ViewBag.Error</div>
}

<table class="invisibleTableBorders">
    <tr>
        <th>Vardas Pavarde</th>
        <th>Kaina</th>
        <th>Pirkti</th>
    </tr>
    @foreach (var player in Model.Players)
    {
        <tr>
            <td>@player.Name</td>
            <td>@player.getCost(0)</td>
            <td>
                <form action="/Player/BuyPlayer" method="post">
                    <input type="hidden" name="playerId" value="@player.ID" readonly />
                    <input type="hidden" name="cost" value="@player.getCost(0)" readonly />
                    <button>Pirkti</button>
                </form>
            </td>
        </tr>
    }
</table>
<form method="post" action="/Player/ChangePage">
    <h3>
        <button name="pageNumber" type="submit" value="@Model.Page.FirstPage">@Model.Page.FirstPage</button>
        ...
        @if (Model.Page.BeforePage != 0)
            {
            <button name="pageNumber" type="submit" value="@Model.Page.BeforePage">@Model.Page.BeforePage</button>
        }

        <button name="pageNumber" type="submit" value="@Model.Page.CurrentPage"><b>@Model.Page.CurrentPage</b></button>

        @if (Model.Page.NextPage < Model.Page.LastPage)
            {
            <button name="pageNumber" type="submit" value="@Model.Page.NextPage">@Model.Page.NextPage</button>
        }
        ...
        <button name="pageNumber" type="submit" value="@Model.Page.LastPage">@Model.Page.LastPage</button>
    </h3>
</form>
