@model WebApplication1.Models.PagedViewModel
@{
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<table class="invisibleTableBorders">
    <tr>
        <th>Vardas Pavarde</th>
        <th>Kaina</th>
        <th>Pirkti</th>
    </tr>
    @foreach (var player in Model.players)
    {
        <tr>
            <td>@player.Name</td>
            <td>@player.getCost()</td>
            <td>
                <form action="/Player/BuyPlayer" method="post">
                    <input type="hidden" name="playerId" value="@player.ID" />
                    <button>Pirkti</button>
                </form>
            </td>
        </tr>
    }
</table>
<form action="/Player/ChangePage" method="post">
    <h3>
        <a name="first" value="@Model.Page.firstPage">@Model.Page.firstPage</a>
        ...
        <a name="before" value="@Model.Page.beforePage">@Model.Page.beforePage</a>
        <b> <a name="current" value="@Model.Page.currentPage">@Model.Page.currentPage</a></b>
        <a name="next" value="@Model.Page.nextPage">@Model.Page.nextPage</a>
        ...
        <a name="last" value="@Model.Page.lastPage">@Model.Page.lastPage</a>
    </h3>
</form>


