@model WebApplication1.Models.PagedViewModel
@{
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<table class="invisibleTableBorders">
    <tr>
        <th>Vardas Pavarde</th>
        <th>Kaina</th>
        <th>Pirkti</th>
    </tr>
    @foreach (var player in Model.players)
    {
        <tr>
            <td>@player.Name</td>
            <td>@player.getCost(0)</td>
            <td>
                <form action="/Player/BuyPlayer" method="post">
                    <input type="hidden" name="playerId" value="@player.ID" readonly />
                    <input type="hidden" name="cost" value="@player.getCost(0)" readonly />
                    <button>Pirkti</button>
                </form>
            </td>
        </tr>
    }
</table>
<form method="post" action="/Player/ChangePage">
    <h3>
        <button name="pageNumber" type="submit" value="@Model.Page.firstPage">@Model.Page.firstPage</button>
        ...
        @if (Model.Page.beforePage != 0)
            {
            <button name="pageNumber" type="submit" value="@Model.Page.beforePage">@Model.Page.beforePage</button>
        }

        <button name="pageNumber" type="submit" value="@Model.Page.currentPage"><b>@Model.Page.currentPage</b></button>

        @if (Model.Page.nextPage < Model.Page.lastPage)
            {
            <button name="pageNumber" type="submit" value="@Model.Page.nextPage">@Model.Page.nextPage</button>
        }
        ...
        <button name="pageNumber" type="submit" value="@Model.Page.lastPage">@Model.Page.lastPage</button>
    </h3>
</form>
