@model IEnumerable<WebApplication1.Models.PlayerViewModel>
@{
    ViewBag.Title = "MyTeam";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<h2>Mano komanda</h2>
@if (ViewBag.Error != null)
{
    <div class="alert-danger">@ViewBag.Error</div>
}
else if (ViewBag.SuccessMessage != null)
{
    <div class="alert-success">@ViewBag.Error</div>
}
<table class="invisibleTableBorders width40">
    <tr>

        <th>Vardas</th>
        <th>Taškai</th>
        <th>Parduoti?</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Points</td>
            <td>
                <form action="/Player/SellPlayer" method="post">
                    <input type="hidden" name="playerId" value="@item.ID" />
                    <button type="submit">Parduoti</button>
                </form>
            </td>
        </tr>
    }

</table>